body{
  font-family: 'Spectral SC', serif;

}
html {
  scroll-behavior: smooth;
}


.Background{

  position: relative;
  height: 1700px;
  width:100%;
  background-image:url("../images/starz.jpg");

   background-attachment: fixed;
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
  z-index: 1;
  top: -600px;
  margin-bottom: 0px;
  margin-left: 0;
}


nav{
  background-color:black;
  position: fixed;
  z-index: 2;
  width:100%;
  height:6%;
}

nav a{
 color:white;
 font-size: 25px;
}

.name,.quickIntro{
  position: relative;
  z-index: 1;
  color: white;
  justify-content: center;
  top:-1600px;
  text-align: center;

}

.name h1{
  font-size: 90px;
  text-shadow: 4px 4px black;

}

.quickIntro h2{
  font-family: 'Spectral SC', serif;
  font-size: 40px;
}


.headerImages{
  justify-content: center;
  display: flex;
  margin-left: auto;
  margin-right: auto;
}

.mePic,.otherPic,.smallerPic,.ProjectPic{
  box-shadow: 5px 5px 5px black;
  -moz-box-shadow: 5px 5px 5px black;
  -webkit-box-shadow: 5px 5px 5px black;
  -khtml-box-shadow: 5px 5px 5px black;
}


.mePic{
  height: 270px;
  width: 270px;
  border-radius: 50%;
  margin-top: 5%;
  top: -1650px;
  z-index: 1;
  position: relative;

}

.otherPic{
  height: 170px;
  width: 170px;
  margin-left: 25px;
  margin-right: 25px;
  border-radius: 50%;
  margin-top: 5%;
  top: -1600px;
  z-index: 1;
  position: relative;

}

.smallerPic{
  height: 120px;
  width: 120px;
  border-radius: 50%;
  margin-top: 5%;
  top: -1570px;
  z-index: 1;
  position: relative;
}

.wrap {
  display: flex;
  position: relative;
  top: -1100px;
  height: 600px;
  width: 500px;
  margin-bottom: 100px;
  margin-left: 30px;
}


.ProjectPic{
  height: 600px;
  width: 500px;
  
}
/* 
.description  {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(29, 106, 154, 0.72);
  color: #fff;
  visibility: hidden;
  opacity: 0;
  text-align: center;
  justify-content: center;
  transition: opacity .2s, visibility .2s;
} */

/* 
.description h3{
  margin-top:50%;
} */

.wrap:hover .description{
  visibility: visible;
  opacity: 1;
}

.projectDescription{
  margin-left: 63%;
  margin-top:10px;
  justify-content: center;
  text-align: center;

}

.projectDescription p{
 width:500px;

}

.fa-github{
  font-size: 50px;
}

.ViewWeb{
  background-color:black;
  color:white;
  margin-right:10px;
  padding:7px;
}






